<!DOCTYPE html>
<html lang="en">

<head>
 <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="author" content="PGX">
 <meta name="keywords" content="NodeJS, Express, HTML5, CSS, Javascript">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/styles.css">
 <link rel="icon" href="/favicon.ico">
 <link rel="icon" href="/favicon.ico">
 <meta charset="UTF-8">
 <title>SearchMovie</title>
</head>

<body>

 <div id="container">

  <div id="search-send">
   <h1>Search Movie</h1>
   <form action="/results" method="GET">
    <input class="search-input" spellcheck="false" autocomplete="off" name="movie" placeholder="Iron hearts"
     type="text">
    <button type="submit" class="btn-search">Find now</button>
   </form>
  </div>
 </div>

</body>

</html>